@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Alice&display=swap');
@import "tailwindcss";

@theme {
/* Colors */
  --color-primary: #cc5500;
  --color-secondary: #427161;
  --color-neutral: #494949;
  --color-background: #FAF7F2;

/* Fonts */
  --font-alice: 'Alice', serif;  
  --font-parisienne: 'Parisienne', cursive;
}

:root {
  /* Sets the default font */
  font-family: var(--font-alice);
}